{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main id = "main" class = "container">
        <section class = "video">
            <div class = "video_img">
                <a class = "flex justify-center" href = "">
                    <img src="{% static 'img/thumbnail.png' %}" alt="사용 예시 비디오" />
                </a>
            </div>

        {% if not user.is_authenticated %}
            <div>
                <div>
                  <a class ="btn-big my-5" href="{% url 'accountapp:login' %}">
                      만들기 시작
                  </a>
                </div>
            </div>
            {% else %}
            <div>

                <div>
                   <a class ="btn-big my-5" href="{% url 'kioskapp:select_ui' %}">
                       만들기 시작
                   </a>
                </div>
            </div>
            {% endif %}
        </section>
    </main>

{% endblock %}