{% load static %}
<header>
    <nav class="flex items-center justify-evenly">
        <div class="flex items-center" >
          <a class="text-3xl font-bold pr-3 primary" href="#">시니스크</a>
        </div>
        <div>
          <span class="">고령층을 위한 키오스크 제작 플랫폼</span>
        </div>
            {% if not user.is_authenticated %}
        <div>
            <a class ="btn my-5" href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>login</span>
            </a>
        </div>
            {% else %}
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class = "btn my-5">
                로그아웃
            </a>
            {% endif %}
        </div>
    </nav>

</header>